entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

ingressRoute:
  dashboard:
    enabled: true
    entryPoints: ["web", "websecure"]
    matchRule: Host(`traefik.frantkich.fr`)

ports:
  web:
    nodePort: 30080
  websecure:
    nodePort: 30443