nameOverride: "" 
fullnameOverride: ""
imagePullSecrets: []

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

ingress:
  enabled: true
  className: ""
  annotations: {}
  hosts:
    - host: devops-training.frantkich.fr
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

replicaCount: 1
app:
  image:
    repository: docker.io/frantkich/devops-training-frontend-app
    pullPolicy: Always
    tag: latest
  env:
    - name: FLASK_DEBUG
      value: "0"
    - name: BACKEND_URL
      value: "http://devops-training.api.frantkich.fr:30080/"
proxy:
  image:
    repository: nginx
    pullPolicy: Always
    tag: 1.13-alpine

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 80

resources: {}

livenessProbe:
  httpGet:
    path: /healthz
    port: http-python
readinessProbe:
  httpGet:
    path: /healthz
    port: http-python

volumes: []
volumeMounts: []
